[openstack]
auth_url = https://dummy-auth-url.com/v3
project_name = dummy-project
username = dummy_user
password = dummy_password
user_domain_name = dummy_domain
project_domain_name = dummy_project_domain
region_name = dummy_region
interface = dummy_interface
no_cache = 1

[vm]
flavor = m1.small
image = ubuntu-20.04
network = private
cloud_init_file = cloud_init.yaml
min_vms = 1
max_vms = 5
vm_name_prefix = ecc  ; Added VM name prefix

[service]
check_interval = 60
min_pending_jobs = 1  ; Minimum pending jobs before creating a new VM

[slurm]
memory = 80000
feature = f1
node_config = NodeName=node1 CPUs=16 Boards=1 SocketsPerBoard=1 CoresPerSocket=8 ThreadsPerCore=2 RealMemory=31848
cpus = 16
